.box{
  height: 400px;
  width: 500px;
}

.square{
  height: 150px;
  width: 150px;
  font-size: 3em;
  font-weight: bold;
}
.pressed-x{
  background-color: orange;
}

.pressed-o{
  background-color: green;
}

.btn-default.pressed-x:hover{
  background-color: orange;
}

.btn-default.pressed-o:hover{
  background-color: green;
}
